.upperArrow{
    position: fixed;
    bottom: 30px;
    right: 20px;
    font-size: 25px;
    padding: 5px;
    border: solid 1px;
    border-radius: 50%;
    background-color: black;
}

.add-div{
    padding: 20px;
    font-size: 16px;
    text-align: left;
    background-color: #cac7c7;
}

#add-link{
    border: 1px solid black;
    background-color: rgb(199, 73, 73);
    display: inline;
    padding: 5px;
    border-radius: 5px;
}

.list-div{
    padding: 30px;
}

ul{
    list-style-type: none;
}

li{
    padding: 10px;
}

.tag{
    border: 1px black solid;
    border-radius: 5px;
    padding: 5px;
}